package views

templ base() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>GoTodo</title>
			<script src="/assets/htmx.min.js"></script>
		</head>
		<body>
			<h1>GoTodo</h1>
			{ children... }
		</body>
	</html>
}
