package views

templ Index() {
	@base() {
		<ul id="list"></ul>
		<form hx-post="/todos" hx-target="#list" hx-swap="beforeend">
			<input type="text" name="todo" placeholder="Enter your todo"/>
			<button type="submit">Add</button>
		</form>
	}
}

templ TodoItem(todo string) {
	<li>
		<span>{ todo }</span>
		<form hx-confirm="Are you sure?" hx-delete="/todos" hx-target="closest li" hx-swap="outerHTML">
			<button type="submit">Delete</button>
		</form>
	</li>
}
